{% extends "base.html" %}
{% block title %} Actualizacion Password {% endblock %}
{% block content %}
<section class="section">
  
  
    <!-- AGREGAR PERMISO LOGIN ->if request.user.is_authenticated-->
    <main id="form">

      <h1>CAMBIAR PASSWORD</h1> 
        <div class="formContainer">
          <form action="" method="POST"> <!-- en acction no va nada ya que utiliza la misma url -->
  
            {% csrf_token %} 
            <legend>FORMULARIO DE ACTUALIZACION</legend>
  
            <table>
              {{ form.as_table }} <!-- Formulario de Django -->
            </table> 
              
            <div class="form-group">
              <button type="submit" className="addBtn">ACTUALIZAR</button>
            </div>
            
          </form>
          
        </div>         
        
    </main>

  

</section>
{% endblock %}