{% extends "base.html" %}
{% block title %} Actualizacion de Usuario {% endblock %}
{% block content %}
<section class="section">
  {% if request.method == "GET"%} 
  
    <!-- AGREGAR PERMISO ADMINISTRADOR ->if request.user.is_superuser--> 
    <main id="form">

      <h1>ACTUALIZAR</h1> 
        <div class="formContainer">
          <form action="" method="POST" enctype="multipart/form-data"> <!-- en acction no va nada ya que utiliza la misma url -->
  
            {% csrf_token %} 
            <legend>FORMULARIO DE ACTUALIZACION</legend>
  
            <table>
              {{ form.as_table }} <!-- Formulario de Django -->
            </table> 
              
            <div class="form-group">
              <button type="submit" className="addBtn">ACTUALIZAR</button>
            </div>
            
          </form>

          <!-- link a cambio de contraseña -->
          <a href="/accounts/password">Cambiar Contraseña</a>
          
        </div>         
        
    </main>

  {% else %}

    <main>

      <div class="mainLinks createPage">
        {%if message %} <!-- manejo de errores que envai django al verificar el formulario -->
          <h1>ERROR AL ACTUALIZAR</h1> 
          <h2>{{ message }}</h2>  
          <a href="/accounts/update">Volver a Formulario</a>
        {% else %}
          <h1>USUARIO ACTUALIZADO</h1>
          <a href="/">Ir a Inicio</a>
        {% endif %}
      </div>
      
    </main>
      
  {% endif %}

</section>
{% endblock %}